@use '../../styles/media' as *;
@use '../../styles/mixins' as *;


.tabs-header {
  display: flex;
  margin-top: 0px;
  margin-bottom: -1px;
  border-radius: 0 0 4px 4px;

  .tab {
    padding: 10px 24px;
    cursor: pointer;
    @include text-style(1rem, 400,  #39CDCC);
    color: #545f7d;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;

    &.active {
      border-bottom: 2px solid #39cdcc;
      color: #39cdcc;
    }
  }
}
